/* SHOPPING CART THE WORDPRESS CART
-------------------------------------------------------------- */

/* reset table */
table#tcp_shopping_cart_table {
	border-collapse:separate;
	cell-spacing:0;
	margin: 0 0 1em;
}
table#tcp_shopping_cart_table,
table#tcp_shopping_cart_table tr,
table#tcp_shopping_cart_table tr td,
table#tcp_shopping_cart_table tr th {
	border:0;
	padding:0;
	margin: 0;
	line-height:1.325em;
}

table#tcp_shopping_cart_table, #content table#tcp_shopping_cart_table {
	border:0;
	width: 100%;
	font-size: 12px !important;
	border-collapse: separate;
    border-spacing: 0;
	margin-bottom:1em;
	}

table#tcp_shopping_cart_table tr th,
table#tcp_shopping_cart_table thead th {
/*	
	color: #000 !important;
	background-image:url(/wp-content/plugins/thecartpress/css/chekout_box_bg.jpg);
	background-repeat: repeat-x;
	background-position: 1px 0px;
	background-color: #f0f0f0;
	border: 1px solid #878787*/;
	line-height: 1em !important;
	padding: 10px;
	margin: 0px 0px 0px 0px !important;
	font-weight: bold;
	text-transform:uppercase;
	background-color: transparent;

	
}

table#tcp_shopping_cart_table tr td {
	/*background-color: #fff;*/
	padding: 10px 10px;
	border-top: 1px dotted;
	/*border-left: 1px dotted #f0f0f0*/;
	vertical-align:top;
}

table#tcp_shopping_cart_table tr.odd td {
	/*background-color: #FfF7FC;*/
}

table#tcp_shopping_cart_table .tcp_cart_name,
table#tcp_shopping_cart_table .tcp_cart_thumbnail{
	/*background-color: #f7f7f7;*/
	width: auto;
}
table#tcp_shopping_cart_table .tcp_cart_thumbnail img{
	/*background-color: #f7f7f7;*/
    height: auto;
    max-width: 45px;
    vertical-align: top;
	margin:0;
	padding:0;
}

table#tcp_shopping_cart_table .tcp_cart_unit_price,
table#tcp_shopping_cart_table .tcp_cart_price,
table#tcp_shopping_cart_table .tcp_cart_total,
table#tcp_shopping_cart_table .tcp_cart_weight{
 	white-space:nowrap;
}
#shopping_cart input {
	font-size: 12px;
	margin-bottom: 0;
	margin-top: 0;
}
table#tcp_shopping_cart_table .tcp_cart_name a{
	text-decoration: none;
}

table#tcp_shopping_cart_table .tcp_cart_subtotal_row td,
table#tcp_shopping_cart_table .tcp_cart_discount_row td,
table#tcp_shopping_cart_table .tcp_cart_other_costs_row td,
table#tcp_shopping_cart_table .tcp_cart_tax_row td {
	/*color: #666;*/
}

table#tcp_shopping_cart_table .tcp_cart_total_row  td,
table#tcp_shopping_cart_table .tcp_cart_discount_row td,
table#tcp_shopping_cart_table .tcp_cart_other_costs_row td,
table#tcp_shopping_cart_table .tcp_cart_tax_row td {
	/*border: 1px solid #ccc*/;
}

table#tcp_shopping_cart_table td.tcp_cart_total {
	font-weight: bold;
}
table#tcp_shopping_cart_table .tcp_cart_total_row  td,
table#tcp_shopping_cart_table .tcp_cart_subtotal_row td{
	font-weight: bold;
	text-transform: uppercase;
	border-top: 1px solid;
}
table#tcp_shopping_cart_table .tcp_cart_discount_row td,
table#tcp_shopping_cart_table .tcp_cart_other_costs_row td,
table#tcp_shopping_cart_table .tcp_cart_tax_row td {
	font-weight: normal;
	text-transform: uppercase;
	border-top: 1px dotted;
}
table#tcp_shopping_cart_table .tcp_cart_total_row  td.tcp_cart_total_title,
table#tcp_shopping_cart_table .tcp_cart_subtotal_row td.tcp_cart_subtotal_title,
table#tcp_shopping_cart_table .tcp_cart_discount_row td.tcp_cart_discount_title,
table#tcp_shopping_cart_table .tcp_cart_other_costs_row td.tcp_cart_other_costs_title,
table#tcp_shopping_cart_table .tcp_cart_tax_row td.tcp_cart_tax_title {
	text-align: right;
}

table#tcp_shopping_cart_table .tcp_cart_total_row .tcp_cart_total {
	color: #c00;
}

.tcp_sc_links {
	list-style-type: none;
	width:auto;
}



.tcp_sc_links li.tcp_sc_checkout {
	margin:0 0 1em 1em;
	float: right;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.tcp_sc_links li.tcp_sc_continue {
	float:left;
}

.tcp_sc_links li:hover {
	text-decoration: none;
}
.tcp_sc_links li:active {
	position: relative;
	top: 1px;
}

.tcp_sc_links li a{
	text-decoration:none;
	color:#ccc;
	font-weight: bold;
}
.tcp_sc_links li a:hover, .tcp_sc_links li a:active {
	color:#fff;
}

.tcp_sc_links .tcp_sc_continue a:hover{
	color:#999;
}


/* CHEKOUT THE WORDPRESS CART
-------------------------------------------------------------- */
#checkout  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
#checkout  p {
	margin-bottom:6px;

}
#checkout h3 {
	line-height: 24px !important;
	/*color: #333 !important;
	background-image:url(/wp-content/plugins/thecartpress/css/chekout_box_bg.jpg);
	background-position: 1px 0px;
	background-color: #f0f0f0;
	background-repeat: repeat-x;*/
	padding-left: 10px;
	margin: 0px 0px 1px 0px !important;
	font-size: 10px;
    letter-spacing: 0.1em;
	border: 1px solid/* #CCCCCC*/;
	text-transform: uppercase;
}

#checkout h3 a {
	text-decoration: none;	
}

#checkout .active h3{
	font-weight: bold;
}
#checkout h4{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
	text-transform: uppercase;
	line-height: 20px;
	padding-left: 0px;
	border-bottom: 1px dotted #999;
	margin-bottom:10px;
	font-weight: normal;
}

#checkout ul {
	list-style-type: none;
}

#identify_layer, #billing_layer, #shipping_layer, #sending_layer, #payment_layer, #cart_layer {
}

.checkout_info {
	margin-bottom: 1px;
	font-size: 1em;
	padding: 20px 10px 10px 10px;
	/*background-color: #FFF;
	background-image: url(/wp-content/plugins/thecartpress/css/chekout_box_bg.jpg);
	background-repeat: repeat-x;
	background-position: left -10px;*/
	border: 1px solid;
	font-family: Arial, Helvetica, sans-serif;
}

.identify_layer .checkout_info {
	padding-top: 0px;
}

.checkout_info strong{
}

.checkout_info input {
	margin: 5px 0px 5px 0px !important;
	padding: 3px;
}

.checkout_info input[type="submit"],
.checkout_info input[type="button"] {
}

.checkout_info select {
	padding: 3px;
	margin: 5px 0px 5px 0px;
}

.checkout_info label {
	padding: 0px 0px 0px 4px;
	margin: 0px;
}

.checkout_info span.description {
	clear: left;
	color: #C00;
	display: block;
	margin-bottom: 10px;
	text-align: right;
}

#login_form {
	float:right;
	width:45%;
	padding: 10px;
}
#login_form label, #tcp_login_and_register label {
	width: 80px;
	float: left;
	padding-top:6px;
	clear:both;
	margin-right:10px;
}
#login_form input , #tcp_login_and_register input  {
	width: 100px;
	float: left;
	margin: 5px 0px 5px 0px;
}
#loginform p{
	padding: 0px;
}
.login-remember {
	clear:both;
	width: 100%;
	display: block;
}
.login-remember label{
	padding-top:10px;
	width: 200px !important;
	font-size: .85em;
}
.login-remember input {
	clear:left;
	float: left;
	margin: 5px 0px 5px 0px;
	width: 30px !important;
}
p.login-lostpassword {
	clear: both;		
}
#login_guess {
	float:left;
	width:45%;
	padding: 10px;
}
#login_guess a, p.login-lostpassword a, #login_guess .tcp_error {
	font-weight: bolder;
	font-size: 1em;
	text-decoration: none;
}
#login_guess .tcp_error {
	text-transform: uppercase;
	color:#C00;

}
#login_guess a:hover, p.login-lostpassword a:hover{
	/*color:#960000;*/
}
#login_guess ul{
	margin-top: 6px;
	margin-bottom: 14px;
}
#billing_layer_info p, #shipping_layer_info p {
	line-height: 24px;
	margin-bottom:20px;
	clear: both;
	display: block;
}
#selected_billing_area label,
#selected_shipping_area label {
	font-weight: bold;	
	margin: 0px 10px 0px 0px;
}
#selected_billing_area br,
#selected_shipping_area br {
	display: none;		
}
#selected_billing_area select,
#selected_shipping_area select {
	margin: 0px 0px 10px 0px;
}
#new_shipping_area li, #new_billing_area li {
	float: left;
	line-height: 24px;
	list-style-type: none;
}
#new_shipping_area li label, #new_billing_area li label {
	width: 140px;
	float: left;

}
#new_shipping_area li input, #new_billing_area li input, #new_shipping_area li select, #new_billing_area li select {
	width: 260px;
	float: left;
}

#new_billing_area input[type="text"], #new_shipping_area input[type="text"], #new_shipping_area li select, #new_billing_area li select {
    padding: 3px;
    border: 1px solid;
}

#new_shipping_area span.error, #new_billing_area span.error {
	line-height: 1em;
	font-size:.9em;
	clear:left;
	font-weight:bolder;
	color:#C00;
	display: block;
	padding:0px 0px 10px 4px;
}


#cart_layer table {
}
#cart_layer .checkout_item  td{
	background-color: #fff0f0;
	border-bottom:#fff solid 1px; 
	padding-bottom: 6px;
	padding-top: 6px;
}
#cart_layer .impar  td{
	background-color: #FAF7EE;
}

#cart_layer .checkout_subtotal  td, #cart_layer .checkout_total  td{
	background-color: #f0f0ff;
}
#cart_layer .checkout_total  {
	font-weight: bolder;
	font-size: 1em;
}
#cart_layer .checkout_total  td{
	border-top:#999 dotted 1px;
}
.checkout_currency {
	text-align: right;
}
#cart_layer .checkout_total .checkout_currency{
	color: #fff;
	background-color: #c00;
	border:#c00 solid 1px;
}
.cart_layer_info table th{
	/*background-color: #fff;*/
}
.cart_layer_info #comment{
	width: 62%;
}
.checkout_subtotal tr{
}

/* Checkout resume */
div#shipping_info, div#billing_info {
	width: inherit;
	float: left;
	padding: 0 1em 1em;
	font-size:.9em;
}
div#billing_info {
	margin-left: 10px;
}
div#shipping_info h3,
div#billing_info h3{
	margin-bottom:6px;
	margin-right: -1em;
	padding-right: 10px;
	font-weight: bold;
	font-size:.95em;
}
#tcp_status {
	clear: both;
}
#content .tcp_payment_area table.widefat {
	clear: both;
	margin-top:20px;
}

/* ***Float containers fix*** */ 
.clearfix:after {
 content: "."; 
 display: block; 
 height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix {
	display: inline-table;
}

/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */  


ul.tcp_checkout_bar li {display: inline; padding-right: 2em;}
li.tcp_checkout_active_step span{font-weight:bold;}

.tcp_item_discount {padding-left: 1em;}




#tcp_order_id, #tcp_status {
	padding:1em 0;
}
#tcp_status {
}
#tcp_order_id span, #tcp_status span {
	font-weight:bold;
}
#tcp_order_id span span, #tcp_status span span{
	font-weight:normal;
}
#tcp_status span span.tcp_status{
	font-weight:bold;
	color:#C00;
}

.tcp-button-endcheckout {
    background: url("http://haiku-futon.com/wp-content/plugins/thecartpress-ceca/images/black_button.png") no-repeat scroll 0 0 transparent;
    border: 0 none;
    color: #FFFFFF;
    cursor: pointer;
    font: bold 18px/45px Arial,Helvetica,sans-serif;
    height: 45px;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    width: 263px;
}



#tcp_back,
#tcp_continue {
	margin:.625em .625em .625em 0;
	font-weight:bold !important;
}
#tcp_continue {
}
#tcp_back,
#tcp_continue {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	
}
#tcp_continue {
	
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	
}
#tcp_back {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
#tcp_continue:hover{
	text-decoration: none;

	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
#tcp_continue:active {
	position: relative;
	top: 1px;

	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

#tcp_back:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
#tcp_back:active:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}







