/* TCP new lopp */
.tcp-az-panel {
	margin-bottom: 16px;
}
div.tcp_order_panel {
	font-size: 13px;
	margin: 10px 0;
}
.tcp-product-list a {
	text-decoration: none;
}

.tcp-product-list {
	font-size: 12px;
}
.tcp-grid-item {
	width: 100%;
	padding: 10px;
	line-height:1.625em;
	text-decoration: none;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	vertical-align: top;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.tcp-grid-item .tcp-product-content,
.tcp-grid-item .tcp-product-summary {
	text-align: justify;
}
.tcp-grid-item .sd-title {
	display: none;
}
.tcp-grid-item div.sharedaddy .sd-content {
	width: 100%;
}
.tcp-grid-item div.sharedaddy div.sd-block {
	border-top: 0;
}
.tcp-grid-item .tcp-product-author-avatar img {
	max-width: 20px;
	height: auto;
}
.tcp-product-price,
.tcp-product-title,
.tcp-product-title .entry-title a {
	font-size: 16px;
}
.tcp-grid-item .tcp-product-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
    line-height: 1.5em;
}
.tcp-grid-item .tcp-product-taxonomy {
	display: block;
}
.tcp_col {
	margin-bottom: 20px;
}