/* TCP new lopp */
.tcp-az-panel {
	margin-bottom: 16px;
}
div.tcp_order_panel {
	font-size: 13px;
	margin: 10px 0;
	text-align: right;
}
div.tcp_order_panel label {
	font-size: 0.9em;
}
div.tcp_order_panel select {
	max-width: 120px;
}
.tcp_order_desc {
	margin-left: 16px;
}
.tcp-product-list a {
	text-decoration: none;
}

.tcp-product-list {
	font-size: 12px;
}
.tcp-grid-item {
	width: 100%;
	padding: 10px;
	line-height:1.625em;
	text-decoration: none;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	vertical-align: top;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}
.tcp-grid-item .tcp-product-content,
.tcp-grid-item .tcp-product-summary {
	text-align: justify;
}
.tcp-grid-item .sd-title {
	display: none;
}
.tcp-grid-item div.sharedaddy .sd-content {
	width: 100%;
}
.tcp-grid-item div.sharedaddy div.sd-block {
	border-top: 0;
}
.tcp-grid-item .tcp-product-author-avatar img {
	max-width: 20px;
	height: auto;
}
.tcp-product-list .tcp-product-price,
.tcp-product-list .tcp-product-title,
.tcp-product-list .tcp-product-title .entry-title a {
	font-size: 14px;
}
.tcp-grid-item .tcp-product-title {
	overflow: hidden;
	white-space: nowrap;
	font-weight: normal;
    line-height: 1.5em;
	text-overflow: ellipsis;
}
.tcp-grid-item .tcp-product-taxonomy {
	display: block;
}
.tcp_col {
	margin-bottom: 20px;
}
.tcp-product-list .tcp-tcpf .tcp-product-title h1, .tcp-tcpf .tcp-product-title h2, .tcp-tcpf .tcp-product-title h3 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.tcp-product-list .tcp-product-meta div,
.tcp-product-list .tcp-product-discount,
.tcp-product-list .tcp-product-outstock
 {
	margin-top: 5px;
}
.tcp-product-list .tcp-product-discount,
.tcp-product-list .tcp-product-outstock {
	font-size: 14px;
}




/* SINGLE PRODUCT DETAIL */
.tcp-single-imagen {
	margin-bottom: 4px;
}
.tcp-single-imagen img {
	max-width: 100%;
	height: auto;
}
.single-product-imagen .gallery-icon {
	position: relative;
}
.single-product-imagen .gallery img {
	max-width: 100%;
	height: auto;
}
.single-product-imagen .gallery {
	margin:0;
}
.tcp-single-imagen .gallery-columns-1 .gallery-item {
	float: none;
}



