/*///////  BUY BUTTON  ///////////////////////////////*/

/*tcp-buy_button
---------------------------*/
#content table.tcp_buy_button,
#content table.tcp_buy_button tr,
#content table.tcp_buy_button tr td,
#content table.tcp_buy_button tr th,
table.tcp_buy_button,
table.tcp_buy_button tr,
table.tcp_buy_button tr td,
table.tcp_buy_button tr th {
	border:0;
	padding:0;
	margin: 0;
	line-height:1.2em;
}
#content table.tcp_buy_button ,
table.tcp_buy_button {
	font-family:Arial, Helvetica, sans-serif;
	border-collapse:separate;
	border-spacing: 0 1px;
	margin: 1em 0 1em;
	clear: both;
	width: auto !important;
	font-size:12px;
}
table.tcp_buy_button tr th {
	display: none;
}
#content table.tcp_buy_button tr td,
table.tcp_buy_button tr td {
	vertical-align:top;
	padding:6px;
	background-color:#f6f6f6;
	color:#2c2c2c;
	background-image:url();
}
.tcp_buy_button_price .tcp_unit_price,
.tcp_buy_button .tcp_price {
	font-weight:bold;
	margin-left:2px;
}

table.tcp_buy_button tr td.tcp_buy_button_thumbnail {
	vertical-align:top;
}
.single table.tcp_buy_button tr td {
/*	background-color:#F1F4FB;
	color:#373737;
*/}

/*buy button in loop
---------------------------------------------*/
#content table.tcp_products_list table.tcp_buy_button,
table.tcp_products_list table.tcp_buy_button {
    margin: 0;
}
#content table.tcp_products_list .tcp_buy_button tr td,
table.tcp_products_list .tcp_buy_button tr td {
	border:0;
	padding:6px 4px !important;
	background-image:url();
}
table.tcp_products_list .tcp_add_to_shopping_cart,
table.tcp_products_list .tcp_add_selected_to_shopping_cart {
	padding: .2em 2em .25em;
	
}
table.tcp_products_list .tcp_buy_button select,
table.tcp_products_list .tcp_buy_button input {
    margin: 1px 2px 1px;
	font-size:12px;
}
/* end buy butoon in loop */

.tcp_buy_button select,
.tcp_buy_button input {
    margin: 1px 4px 1px;
	font-size:12px;
}
.tcp_added_product_title {
	display:block;
	clear:left;
	font-size:0.9em;
	text-align:right;
	margin-top:.625em;
}
.tcp_count {
	text-align: center;
	margin-right:0;
	max-width:44px;
}
.tcp_add_row {
}
.tcp_buy_button_wrapper {
	margin-bottom: 1.325em;
	
}
.tcp_buy_button_price {
	white-space:nowrap;
}
.tcp_already_in_cart {
	white-space:normal;
	font-size:11px;
}
.tcp_buy_button_count {
	white-space:nowrap;
}

/* Add buttons
-------------------------------------*/
.tcp_add_to_shopping_cart,
.tcp_add_selected_to_shopping_cart {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .2em 2em .25em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	
}
.tcp_add_to_shopping_cart:hover,
.tcp_add_selected_to_shopping_cart:hover{
	text-decoration: none;

	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.tcp_add_to_shopping_cart:active,
.tcp_add_selected_to_shopping_cart:active {
	position: relative;
	top: 1px;

	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


/* =TCP buy button extras
-------------------------------------------------------------*/
table.tcp_buy_button  img {
    height: auto;
    max-width: 45px;
    vertical-align: top;
	margin:0;
	padding:0;
}

.tcp_add_selected_to_shopping_cart{
	/*display: none;*/
}


@media (max-width: 450px) {
table.tcp_products_list .tcp_buy_button {
	display:none;
}

}





