/* TCP new lopp */
.tcp-az-panel {
	margin-bottom: 16px;
}
div.tcp_order_panel {
	font-size: 13px;
	margin: 10px 0;
}
span.tcp_order_type label {
	display: none;
}
.tcp_order_panel span,
.tcp_order_panel .form-group {
	display: inline-block;
}
div.tcp_order_panel label {
	font-size: 0.9em;
}
div.tcp_order_panel select {
	max-width: 120px;
}
.tcp_order_desc {
	margin-left: 16px;
}

.tcp-product-list a {
	text-decoration: none;
}
.tcp-product-list aside,
.tcp-product-list .widget,
.tcp-product-list {
	font-size: 12px;
}
.tcp-product-list aside,
.tcp-product-list .widget {
	margin: 10px 0 0;
}
.tcp-grid-item {
	width: 100%;
	padding: 10px;
	line-height:1.625em;
	text-decoration: none;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	vertical-align: top;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	position: relative;
}
.tcp-product-thumbnail img {
	display: inline-block;
	height: auto;
	max-width: 100% !important;
	box-shadow: none;
}
.tcp-product-thumbnail img.wp-post-image {
	box-shadow: none;
}
.tcp-grid-body {
	overflow: hidden;
}
.tcp-grid-item .tcp-product-content,
.tcp-grid-item .tcp-product-summary {
	text-align: justify;
}
.tcp-grid-item .sd-title {
	display: none;
}
.tcp-grid-item div.sharedaddy .sd-content {
	width: 100%;
}
.tcp-grid-item div.sharedaddy div.sd-block {
	border-top: 0;
}
.tcp-grid-item .tcp-product-author-avatar img {
	max-width: 20px;
	height: auto;
}
.tcp-product-list .tcp-product-title,
.tcp-product-list .tcp-product-title .entry-title a {
	font-size: 16px;
}
.tcp-grid-item .tcp-product-taxonomy {
	display: block;
}
.tcp_col {
	margin-bottom: 20px;
}



.tcp-product-list.tcpf .tcp-product-title,
.tcp-product-list.tcpf .tcp-product-title p,
.tcp-product-list.tcpf .tcp-product-title div,
.tcp-product-list.tcpf .tcp-product-title span,
.tcp-product-list.tcpf .tcp-product-title h1,
.tcp-product-list.tcpf .tcp-product-title h2,
.tcp-product-list.tcpf .tcp-product-title h3,
.tcp-product-list.tcpf .tcp-product-title h4,
.tcp-product-list.tcpf .tcp-product-title h5,
.tcp-product-list.tcpf .tcp-product-title h6 {
	font-size: 16px;
	margin: 0;
	line-height: 1.6;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.tcp-product-list.tcpf .tcp-product-title {
	margin: 10px 0 0;
}
.tcp-product-list.tcpf .tcp-product-title a,
.tcp-product-list.tcpf .tcp-product-title p a,
.tcp-product-list.tcpf .tcp-product-title div a,
.tcp-product-list.tcpf .tcp-product-title span a,
.tcp-product-list.tcpf .tcp-product-title h1 a,
.tcp-product-list.tcpf .tcp-product-title h2 a,
.tcp-product-list.tcpf .tcp-product-title h3 a,
.tcp-product-list.tcpf .tcp-product-title h4 a,
.tcp-product-list.tcpf .tcp-product-title h5 a,
.tcp-product-list.tcpf .tcp-product-title h6 a  {
	font-size: 16px;
	margin: 0;
	line-height: 1.6;
	padding: 0;
}
.tcp-product-list.tcpf  .tcp-product-title a {
	padding-bottom: 0;
	padding-top: 0;
}
.tcp-product-list  .tcp-product-summary ,
.tcp-product-list  .tcp-product-price ,
.tcp-product-list .tcp-product-meta div,
.tcp-product-list .tcp-product-discount,
.tcp-product-list .tcp-product-outstock
 {
	margin-top: 10px;
}
.tcp-product-list .tcp-product-price,
.tcp-product-list .tcp-product-discount,
.tcp-product-list .tcp-product-outstock {
	font-size: 14px;
}

.tcpf .col-xs-1, .tcpf .col-xs-2, .tcpf .col-xs-3, .tcpf .col-xs-4, .tcpf .col-xs-5, .tcpf .col-xs-6, .tcpf .col-xs-7, .tcpf .col-xs-8, .tcpf .col-xs-9, .tcpf .col-xs-10, .tcpf .col-xs-11, .tcpf .col-xs-12,
.tcpf .col-sm-1, .tcpf .col-sm-2, .tcpf .col-sm-3, .tcpf .col-sm-4, .tcpf .col-sm-5, .tcpf .col-sm-6, .tcpf .col-sm-7, .tcpf .col-sm-8, .tcpf .col-sm-9, .tcpf .col-sm-10, .tcpf .col-sm-11, .tcpf .col-sm-12,
.tcpf .col-md-1, .tcpf .col-md-2, .tcpf .col-md-3, .tcpf .col-md-4, .tcpf .col-md-5, .tcpf .col-md-6, .tcpf .col-md-7, .tcpf .col-md-8, .tcpf .col-md-9, .tcpf .col-md-10, .tcpf .col-md-11, .tcpf .col-md-12,
.tcpf .col-lg-1, .tcpf .col-lg-2, .tcpf .col-lg-3, .tcpf .col-lg-4, .tcpf .col-lg-5, .tcpf .col-lg-6, .tcpf .col-lg-7, .tcpf .col-lg-8, .tcpf .col-lg-9, .tcpf .col-lg-10, .tcpf .col-lg-11, .tcpf .col-lg-12 {
	padding-left: 10px;
	padding-right: 10px;
}

.tcp-product-list .customvalues dd {
	margin-bottom: 4px;
}

/* list view mode */

.tcp-product-viewlist div.tcp_col {
	width: 100% !important;
}
.tcp-product-viewlist div.tcp-product-thumbnail {
	float: left;
	max-width: 25%;
	margin:0 10px 10px 0;
}

.tcp-product-list.tcpf .tcp-product-viewlist .tcp-product-title {
    margin: 0;
}



/* loop-tcp-list */
.tcp-product-ls .entry-post-thumbnail {
	max-width: 30%

}

.tcp-product-list.tcpf .tcp-product-ls .tcp-product-title {
	margin: 0;
}




/* SINGLE PRODUCT DETAIL */
.single-product-imagen {
	margin-bottom: 10px;
}
.tcp-single-imagen {
	margin-bottom: 4px;
}

.single-product-imagen .gallery-icon {
	position: relative;
}
.tcp-single-imagen img,
.single-product-imagen .gallery img {
	max-width: 100% !important;
	height: auto;
}
.single-product-imagen .gallery {
	margin:0;
}
.single-product-imagen .gallery-columns-1 .gallery-item {
	width: 100%  !important;
}
.tcp-single-imagen .gallery-columns-1 .gallery-item {
	float: none;
}
.single-product-imagen .gallery-columns-5 .gallery-item {
	width: 19% !important;
	margin: 0 1px;
	padding: 0;

}

/* fix for duplicate images when theme compatibility injection used and template page has a template tag for featured image */
.single-tcp_product .tcp-single-imagen img.wp-post-image {
	display: inline;
}
.single-tcp_product .post-thumbnail img.wp-post-image {
	display: none;
}

@media screen and (min-width: 768px) {
	div.tcp_order_panel {
		text-align: right;
	}
}
